.janela {
  display: flex;
  width: 100vw;
}

.profile {
  border: 3px solid red;
  position: fixed;
  top: 10%;
  left: 10px;
  z-index: 999;
  height: 80vh;
  width: 25%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0f0f0f;
}

.divRight {
  padding-top: 10px;
  border: 3px solid blue;
  border-radius: 5px;
  display: flex;
  width: 70%;
  flex-direction: column;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 75px;
  left: 26%;
}

.divRight .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.divRight .container h1 {
  margin-bottom: 10px;
  text-shadow: 0px 0px 16px #e900fa;
}

.divForm input {
  color: #161618;
  height: 25px;
  width: 100%;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.divForm textarea {
  margin-bottom: 5px;
  color: #161618;
  width: 100%;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.divForm button {
  color: #000000;
  width: 10%;
  border: 0px;
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px #e900fa;
  background-color: #e900fa;
}

.divForm button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 8px #9f02ab;
  background-color: #b40ac0;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hello h3 {
  color: #f1f1f1;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: bold;
}

.hello p {
  color: #f1f1f1;
  font-weight: bold;
  font-size: 1.1rem;
}

.hello p span {
  text-shadow: 0px 0px 8px #32b9cd;
}

.descElement {
  display: flex;
  color: #f1f1f1;
  margin: 20px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.eyesOpen{
  margin-top: 15px;
  font-weight: bold;
}

.logout h3 {
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.logout {
  margin: 0;
  padding: 0;
  width: 30%;
  cursor: pointer;
  color: #000000;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 100px;
  background-color: #e900fa;
  box-shadow: 0px 0px 8px #e900fa;
}

.logout:hover {
  cursor: pointer;
  background-color: #9904a4;
  box-shadow: 0px 0px 20px #9904a4;
}

.publicacao {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  box-shadow: 0px 0px 10px #505050;
  background-color: #181818;
}

.postAuthor {
  margin-bottom: 10px;
  background-color: #181818;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0px 0px 8px #e900fa;
}

.postTitulo {
  margin-bottom: 15px;
  background-color: #181818;
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 0px 0px 8px #e900fa;
}

.postContent {
  font-size: 1rem;
  background-color: #181818;
  margin-bottom: 10px;
}

.postButtons {
  background-color: #181818;
 display: flex;
 width: 30%;
}

.postButtonEdit {
  color: #161618;
  margin-right: 20px;
  border: 0;
  width: 30%;
  height: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fae415;
  box-shadow: 0px 0px 12px #fae415;
}

.postButtonDel {
  color: #161618;
  border: 0;
  width: 30%;
  height: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #0059ff;
  box-shadow: 0px 0px 12px #0059ff;
}

.postButtonDel:hover {
  cursor: pointer;
  background-color: #0444ba;
  box-shadow: 0px 0px 20px #013ca9;
}