.blur {
  background-color: #0f0f0fb2;
  padding: 40px 0;
}

.boxLogin {
    background-image: url("../assets/img/ordo_realitas.jpeg");
    background-size: cover;
    background-position-y: 20%;
}

.boxLogin .container {
    width: 40%;
    padding: 2%;
    height: 450px;
    font-size: 1.3rem;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 15px #fae415;
}

.container h2 {
    font-weight: bold;
    text-shadow: 0px 0px 8px #fae415;
}

.inputsLogin {
    display: flex;
    flex-direction: column;
}

.inputsLogin a {
    color: #fae415;
    text-decoration: none;
}

a:hover {
    text-shadow: #fae415 0px 0px 8px;
}

.labelLogin {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0px 0px 8px #fae415;
}

.inputLogin {
    border: 0;
    outline: 0;
    height: 30px;
    color: #0f0f0f;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    margin-bottom: 50px;
    background-color: #f1f1f1;
}

.inputLogin::placeholder {
    color: #282828;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.inputLogin:focus {
    outline: none;
    box-shadow: 0px 0px 8px #fae415;
}

.buttonLogin {
    border: 0;
    width: 25%;
    height: 40px;
    color: #282828;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #fae415; 
    box-shadow: 0px 0px 10px #fae415;
}

.buttonLogin:hover {
    background-color: #baa912; 
    box-shadow: 0px 0px 25px #fae415;
}

#cardErr {
    display: none;
    justify-content: center;
    align-items: center;
}

.resultLogin {
    display: none;
    justify-content: center;
    align-items: center;
}

.finishLogin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingLogin {
    display: none;
}