.personagens {
  background-image: url(../assets/img/FC-WNJbWQAwUkKO.jpg);
  background-size: cover;
  align-items: center;
}

.blur {
  background-color: #0f0f0fb2;
  padding: 40px 0;
}

.personagens .container {
  height: 50%;
  width: 85%;
  border-radius: 2%;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 12px #fae415
}

.tabs {
  display: flex;
  margin: 1%;
  width: 80%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.tabsLabel {
  padding: 1%;
  font-size: 1.1em;
  text-align: center;
  cursor: pointer;
}

.tabsRadio {
  display: none;
}

.tabsContent {
  display: block;
  height: 85%;
  width: 80%;
}

.tabsRadio:checked+.tabsLabel {
  font-weight: bold;
  text-shadow: 0px 0px 6px #e900fa;
}

#contentAOP {
  display: none;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  justify-items: center;
}

#contentAOP img {
  margin: 3%;
  width: 65%;
}

#contentOSNF {
  display: none;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  justify-items: center;
}

#contentOSNF img {
  margin: 3%;
  width: 80%;
}

#contentDesconj {
  display: none;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
  justify-items: center;
}

#contentDesconj img {
  margin: 3%;
  width: 80%;
}

#contentCalamid {
  display: none;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  justify-items: center;
}

#contentCalamid img {
  margin: 3%;
  width: 80%;
}

#contentOSNI {
  display: none;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  justify-items: center;
}

#contentOSNI img {
  margin: 3%;
  width: 80%;
}

#contentSinais {
  display: none;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  justify-items: center;
}

#contentSinais img {
  margin: 3%;
  width: 80%;
}