@font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed"), url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    color: #f1f1f1;
    font-family: Roboto Condensed;
}

.header {
    background-color: #0e1417;
    padding: 20px;
}

.header .container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

.header .container .logo {
    width: 100px;
}

.header .container h1 {
    font-weight: 800;
    text-shadow: 0 0 5px yellow;
}

.navbar ul {
    display: flex;
    width: 350px;
    justify-content: space-evenly;
    list-style: none;
}

.navbar li {
    text-shadow: 0 0 5px yellow;
}

.navbar li a {
    text-decoration: none;
    cursor: pointer;
}

.navbar li a:hover {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 5px red;
}