@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  color: #f1f1f1;
  font-family: Roboto Condensed;
}

.header {
  background-color: #171717;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.header .container {
  display: flex;
  margin-left: 100px;
  width: 85%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.header .container img {
  width: 150px;
}

.navbar ul {
  display: flex;
  width: 350px;
  justify-content: space-around;
  list-style: none;
}

.navbar li {
  text-shadow: 0 0 5px yellow;
}

.navbar li a {
  text-decoration: none;
  cursor: pointer;
}

.navbar li a:hover {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 0 5px red;
}

.banner {
  background-image: url("../assets/img/pita.jpeg");
  background-size: cover;
  padding: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.banner .container {
  height: 100%;
  width: 27%;
  background-color: #171717;
  padding: 10px;
}

.banner .container p {
  width: 280px;
  font-size: 30px;
}
