@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  color: #f1f1f1;
  background-color: #0f0f0f;
  font-family: Roboto Condensed;
}

/* ELEMENTOS */
.sangue {
  text-shadow: 0px 0px 8px #e00101;
  font-weight: bold;
}

.conhecimento {
  text-shadow: 0px 0px 8px #fae415;
  font-weight: bold;
}

.energia {
  text-shadow: 0px 0px 8px #e900fa;
  font-weight: bold;
}

.morte {
  text-shadow: 0px 0px 8px #0059ff;
  font-weight: bold;
}

.medo {
  text-shadow: 0px 0px 8px #d0cde2;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

/* HEADER */
.header {
  margin: 10px;
}

.header .logo {
  width: 320px;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  text-shadow: 0px 0px 6px #fae415;
}

.header a:hover {
  text-shadow: 0px 0px 6px #e900fa;
}

.header .atual {
  font-weight: 800;
  text-shadow: 0px 0px 6px #e900fa;
}

.navbar {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
}

/* BANNER */
.banner {
  height: fit-content;
  background-image: url("../assets/img/fundo_banner.jpeg");
  background-size: cover;
  align-items: center;
}

.banner .blur {
  background-color: #0f0f0fb2;
  padding: 40px 0;
}

.banner .container {
  height: 400px;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  background-color: transparent;
}

.banner h2 {
  text-shadow: 0px 0px 8px #fae415;
}

.banner p {
  text-align: center;
  font-size: 20px;
}

.banner .sangue {
  background-color: transparent;
}

.banner p,
h2 {
  background-color: transparent;
}

/* LOWER BANNER */
.lower {
  align-items: center;
}

.lower .container {
  height: 400px;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}

.lower .container h2 {
  text-shadow: 0px 0px 8px #fae415;
}

.lower .container p {
  font-size: 20px;
  text-align: center;
}

.criador {
  align-items: center;
}

.criador .container {
  font-size: 20px;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
}

.criador .container .info {
  display: flex;
}

.criador .container .sobre {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.criador .sobre h2 {
  margin: 1rem;
}

.criador .sobre h3 {
  margin: 1rem;
}

.criador .container img {
  margin: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px #fae415;
}

.elementos .container {
  font-size: 20px;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}

.elementos .container .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.elementos .boxSangue {
  display: flex;
  width: 300px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 8px #d0cde2;
  border-radius: 10%;
  transform: scale(1);
  transition: 1s;
}

.boxSangue:hover {
  box-shadow: 0px 0px 25px #e00101;
  transition: 1s;
  transform: scale(1.15);
}

.boxSangue p {
  width: 150px;
  height: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s ;
}

.boxSangue:hover p {
  transform: scale(1);
  width: 300px;
  height: 150px;
  opacity: 1;
  transition: 0.5s, opacity 1s;
}

.boxSangue img {
  width: 250px;
}

.elementos .boxMorte {
  display: flex;
  width: 300px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 8px #d0cde2;
  border-radius: 10%;
  transform: scale(1);
  transition: 0.5s;
}

.boxMorte:hover {
  box-shadow: 0px 0px 8px #0059ff;
  transition: 0.5s;
  transform: scale(1.15);
}

.boxMorte p {
  width: 150px;
  height: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s ;
}

.boxMorte:hover p {
  transform: scale(1);
  width: 300px;
  height: 125px;
  opacity: 1;
  transition: 0.5s, opacity 1s;
}

.boxMorte img {
  width: 250px;
}

.elementos .boxMedo {
  display: flex;
  width: 300px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 8px #d0cde2;
  border-radius: 10%;
  transform: scale(1);
  transition: 0.5s;
}

.boxMedo:hover {
  transition: 0.5s;
  transform: scale(1.15);
}

.boxMedo p {
  width: 150px;
  height: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s ;
}

.boxMedo:hover p {
  transform: scale(1);
  width: 300px;
  height: 150px;
  opacity: 1;
  transition: 0.5s, opacity 1s;
}

.boxMedo img {
  width: 250px;
}

.elementos .boxConhecimento {
  display: flex;
  width: 300px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 8px #d0cde2;
  border-radius: 10%;
  transform: scale(1);
  transition: 0.5s;
}

.boxConhecimento:hover {
  box-shadow: 0px 0px 8px #fae415;
  transition: 0.5s;
  transform: scale(1.15);
}

.boxConhecimento p {
  width: 150px;
  height: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s ;
}

.boxConhecimento:hover p {
  transform: scale(1);
  width: 300px;
  height: 150px;
  opacity: 1;
  transition: 0.5s, opacity 1s;
}

.boxConhecimento img {
  width: 250px;
}

.elementos .boxEnergia {
  display: flex;
  width: 300px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 8px #d0cde2;
  border-radius: 10%;
  transform: scale(1);
  transition: 0.5s;
}

.boxEnergia:hover {
  box-shadow: 0px 0px 8px #e900fa;
  transition: 0.5s;
  transform: scale(1.15);
}

.boxEnergia p {
  width: 150px;
  height: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s ;
}

.boxEnergia:hover p {
  transform: scale(1);
  width: 300px;
  height: 175px;
  opacity: 1;
  transition: 0.5s, opacity 1s;
}

.boxEnergia img {
  width: 250px;
}
